//  main colors
$main-color: #011322;
$background-color: #0093e9;
//  btn colors
$btn-color: #131b20;
$btn-delete-color: #e74c3c;
$btn-save-color: #2ecc71;
$btn-background-color: #f5f5f5;
$active-color: #151515;