@import '../../abstracts/variables';
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem auto;
    label {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    input {
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        outline: none;
        border: none;
        font-weight: 500;
        width: 100%;
        border-radius: 0.5rem;
        &:focus {
            border: none;
        }
    }
    button {
        margin: 0.5rem 0;
        font-size: 1.8rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        background: $btn-background-color;
        text-transform: capitalize;
        width: 100%;
        font-weight: 700;
        color: $btn-color;
    }
}