//  Global settings
@import '../abstracts/variables';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    background-color: $background-color;
    color: $main-color;
}

body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $main-color;
    font-weight: 400;
    &.is-active {
        color: #151515;
    }
}