//  Global settings
@import '../abstracts/variables';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    color: $main-color;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(97, 186, 255, 1) 0%, rgba(166, 239, 253, 1) 90.1%);
}

body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $main-color;
    font-weight: 400;
    &.is-active {
        color: $active-color;
    }
}