.date {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    &_info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 0 0.5rem;
        p {
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0.5rem;
        }
    }
}